:root{
    --dark: #1e1f1f;
    --white: #f3f3f3;
}
header{
    background-color: var(--dark);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
}
.list{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 30px;
}
#editar-element{
    display: none;
}
#formulario{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario-inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
}
.formulario-inputs-nome{
    width: 100%;
    margin: 10px;
}
.formulario-inputs-valor{
    width: 100%;
    margin: 10px;
}
.formulario-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.botoes, .botoes:focus{
    width: 300px;
    background-color: var(--dark);
    border: var(--dark);
    box-shadow: none;
}
.botoes:hover{
    background-color: var(--white);
    color: var(--dark);
    border: solid 1px var(--dark);
}
.form-control:focus{
    box-shadow: none;
    border-color: var(--dark);
}
.titulo-header-tabela{
    font-size: 14px;
}
.btn-custom{
    background-color: #f1d222;
}
#carrinho{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    color: #3b3b3b;
}
#empty-cart{
    height: 100px;
    width: 100px;
}
