:root{
    --blue: #0d6efd;
    --white: #f3f3f3;
}
header{
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    color: var(--white);
    padding-top: 10px;
    padding-bottom: 10px;
}
.list{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: var(--white);
    margin-top: 30px;
}
#editar-element{
    display: none;
}
#formulario{
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario-inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 350px;
    
}
.formulario-inputs-nome{
    width: 100%;
    margin: 10px;
}
.formulario-inputs-valor{
    width: 100%;
    margin: 10px;
}
.formulario-button{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.botoes{
    width: 300px;
}
.form-control:focus{
    box-shadow: none;
}
